{{define "body"}}
<main class="scroll-smooth snap-y snap-mandatory scroll-p-16 overflow-y-auto h-screen">
	<header
		class="sticky top-0 flex items-center justify-between border border-b-solid border-slate-600/50 px-4 h-12 bg-slate-800 z-10">
		<p class="text-sm font-medium">API Documentation</p>
	</header>

	<!-- information -->
	<section class="flex flex-col gap-2 p-4 border border-b-solid border-slate-600/50">
		<div class="flex items-center gap-2 flex-wrap">
			<span
				class="bg-cyan-800 text-slate-50 rounded-md py-1 px-2 w-fit text-xs font-medium">{{.Info.Version}}</span>
			{{if .Info.License.Name}}
			<span
				class="bg-slate-700 text-slate-300 rounded-md py-1 px-2 w-fit text-xs font-medium">{{.Info.License.Name}}</span>
			{{end}}
		</div>
		<h1 class="text-2xl font-semibold">{{.Info.Title}}</h1>
		{{if .Info.Desc}}
		<p class="text-slate-300 max-w-prose">{{.Info.Desc}}</p>
		{{end}}

		{{if or .Info.Contact.Name .Info.Contact.Email .Info.Contact.URL}}
		<div class="mt-2 text-sm">
			{{if .Info.Contact.Name}}
			<p class="text-slate-400">Contact: {{.Info.Contact.Name}}</p>
			{{end}}
			{{if .Info.Contact.Email}}
			<p class="text-slate-400">Email: <a href="mailto:{{.Info.Contact.Email}}"
					class="text-cyan-400 hover:text-cyan-300 decoration-none hover:underline">{{.Info.Contact.Email}}</a>
			</p>
			{{end}}
			{{if .Info.Contact.URL}}
			<p class="text-slate-400">Website: <a href="{{.Info.Contact.URL}}"
					class="text-cyan-400 hover:text-cyan-300 decoration-none hover:underline"
					target="_blank">{{.Info.Contact.URL}}</a></p>
			{{end}}
		</div>
		{{end}}

		{{if .Info.Terms}}
		<p class="text-xs text-slate-400">
			<a href="{{.Info.Terms}}" class="text-cyan-400 hover:text-cyan-300 decoration-none hover:underline"
				target="_blank">Terms of Service</a>
		</p>
		{{end}}
	</section>

	<!-- securities -->
	{{if .Security}}
	<section class="flex flex-col gap-4 p-4 border border-b-solid border-slate-600/50">
		<div class="flex flex-col gap-0.5">
			<h2 class="text-lg font-medium text-slate-50">Authentication</h2>
			<p class="text-sm text-slate-400">Security schemes used in API endpoints</p>
		</div>
		<div class="space-y-4">
			{{range $security := .Security}}
				{{if eq $security.Type "basic"}}
				<div class="flex flex-col gap-2">
					<div class="flex items-center gap-2">
						<span class="bg-cyan-800 text-slate-50 rounded-md py-1 px-2 w-fit text-xs font-medium">Basic</span>
						<span class="text-sm font-medium text-slate-300">{{$security.Name}}</span>
					</div>
					<p class="text-slate-300 text-sm">{{$security.Desc}}</p>
					<div class="flex flex-col gap-2">
						<span class="text-sm font-medium text-slate-400 tracking-wide">Example</span>
						<pre class="p-3 rounded-md bg-slate-900 text-slate-300 text-sm overflow-x-auto font-mono">
							Authorization: Basic ZGVtbzpwQDU1dzByZA==</pre>
					</div>
				</div>
				{{else if eq $security.Type "bearerToken"}}
				<div class="flex flex-col gap-2">
					<div class="flex items-center gap-2">
						<span class="bg-cyan-800 text-slate-50 rounded-md py-1 px-2 w-fit text-xs font-medium">Bearer</span>
						<span class="text-sm font-medium text-slate-300">{{$security.Name}}</span>
					</div>
					<p class="text-slate-300 text-sm">{{$security.Desc}}</p>
					<div class="flex flex-col gap-2">
						<span class="text-sm font-medium text-slate-400 tracking-wide">Example</span>
						<pre class="p-3 rounded-md bg-slate-900 text-slate-300 text-sm overflow-x-auto font-mono">Authorization: Bearer &lt;token&gt;</pre>
					</div>
				</div>
				{{else if eq $security.Type "apiKey"}}
				<div class="flex flex-col gap-2">
					<div class="flex items-center gap-2">
						<span class="bg-cyan-800 text-slate-50 rounded-md py-1 px-2 w-fit text-xs font-medium">API
							Key</span>
						<span class="text-sm font-medium text-slate-300">{{$security.Name}}</span>
						<span class="bg-slate-700 text-slate-300 rounded-md py-0.5 px-1.5 text-xs">{{$security.In}}</span>
					</div>
					<p class="text-slate-300 text-sm">{{$security.Desc}}</p>
					<div class="flex flex-col gap-2">
						<span class="text-sm text-slate-400 font-medium tracking-wide">Example</span>
						{{if eq $security.In "query"}}
						<pre class="p-3 rounded-md bg-slate-900 text-slate-300 text-sm overflow-x-auto font-mono">GET
							/api/endpoint?{{$security.KeyName}}=your_api_key</pre>
						{{else if eq $security.In "header"}}
						<pre class="p-3 rounded-md bg-slate-900 text-slate-300 text-sm overflow-x-auto font-mono">
							{{$security.KeyName}}: your_api_key</pre>
						{{else if eq $security.In "cookies"}}
						<pre class="p-3 rounded-md bg-slate-900 text-slate-300 text-sm overflow-x-auto font-mono">Cookie:
							{{$security.KeyName}}=your_api_key</pre>
						{{end}}
					</div>
				</div>
				{{end}}
			{{end}}
		</div>
	</section>
	{{end}}

	<!-- resources -->
	<section class="p-4 flex flex-col gap-6">
		{{range $resource := .Resources}}
		<article class="flex flex-col gap-4">
			<div class="flex flex-col gap-0.5">
				<h2 class="text-lg font-medium text-slate-50">{{$resource.Name}}</h2>
				{{if $resource.Desc}}
				<p class="text-sm text-slate-400">{{$resource.Desc}}</p>
				{{end}}
			</div>

			{{range $endpoint := $resource.Endpoints}}
			<details id="{{$endpoint.Summary}}" class="bg-slate-900/50 rounded-md p-4 flex flex-col">
				<summary
					class="flex items-center justify-between gap-2 text-sm font-medium text-slate-50 transition-all select-none">
					<div class="flex items-center gap-2 flex-1 min-w-0">
						<span data-method="{{$endpoint.Method}}" class="font-mono text-sm">{{$endpoint.Method}}</span>
						<code data-deprecated="{{$endpoint.Deprecated}}" class="text-slate-50">{{$endpoint.Path}}</code>
						<h3 class="text-sm font-medium text-slate-400 truncate">{{$endpoint.Summary}}</h3>
						{{if $endpoint.Deprecated}}
						<span class="text-sm font-mono text-red-300">DEPRECATED</span>
						{{end}}
					</div>
				</summary>

				<div class="flex flex-col gap-4 mt-2">
					{{if $endpoint.Desc}}
					<div class="text-sm text-slate-300">
						<p>{{$endpoint.Desc}}</p>
					</div>
					{{end}}

					<!-- authentication -->
					{{if $endpoint.Securities}}
					<div class="flex flex-col gap-1">
						<span class="text-sm text-slate-400 tracking-wide">Authentication</span>
						{{range $securityName := $endpoint.Securities}}
						<span
							class="bg-cyan-800 text-slate-50 rounded-md py-1 px-2 w-fit text-xs font-medium">{{$securityName}}</span>
						{{end}}
					</div>
					{{end}}

					<!-- path parameters -->
					{{if $endpoint.Parameters.Path}}
					<details class="flex flex-col open:space-y-4 rounded-md p-4 bg-slate-800/50">
						<summary class="flex items-center justify-between">
							<h4 class="text-base text-slate-50 font-medium">Path Parameters</h4>
						</summary>
						<div class="flex flex-col gap-4 font-mono">
							{{range $param := $endpoint.Parameters.Path}}
							<div class="flex flex-col gap-2">
								<div class="flex items-center gap-2 text-sm font-mono flex-wrap">
									<p class="py-1 px-2 bg-slate-700 rounded-md">{{$param.Name}}</p>
									<p class="text-slate-50">{{$param.Type}}</p>
									{{if $param.Req}}
									<p class="text-rose-600">required</p>
									{{end}}
									{{if $param.DefaultValue}}
									<p class="text-slate-400">default: {{$param.DefaultValue}}</p>
									{{end}}
								</div>
								{{if $param.Desc}}
								<p class="text-sm text-slate-400 font-sans">{{$param.Desc}}</p>
								{{end}}
								{{if $param.Ex}}
								<div class="text-xs">
									<span class="text-slate-500">Example: </span>
									<code class="text-cyan-400">{{ $param.Ex }}</code>
								</div>
								{{end}}
								{{if $param.Enums}}
								<div class="text-xs">
									<span class="text-slate-500">Allowed values: </span>
									<span class="text-cyan-400">
										{{range $i, $val := $param.Enums}}{{if $i}},
										{{end}}<code>{{$val}}</code>{{end}}
									</span>
								</div>
								{{end}}
								{{if or $param.Minimum $param.Maximum $param.MinLen $param.MaxLen}}
								<div class="text-xs text-slate-500">
									{{if $param.Minimum}}Min: {{$param.Minimum}} {{end}}
									{{if $param.Maximum}}Max: {{$param.Maximum}} {{end}}
									{{if $param.MinLen}}Min Length: {{$param.MinLen}} {{end}}
									{{if $param.MaxLen}}Max Length: {{$param.MaxLen}} {{end}}
								</div>
								{{end}}
							</div>
							<hr class="border-none h-px bg-slate-700 opacity-50 last:hidden">
							{{end}}
						</div>
					</details>
					{{end}}

					<!-- query parameters -->
					{{if $endpoint.Parameters.Query}}
					<details class="flex flex-col open:space-y-4 rounded-md p-4 bg-slate-800/50">
						<summary class="flex items-center justify-between">
							<h4 class="text-base text-slate-50 font-medium">Query Parameters</h4>
						</summary>
						<div class="flex flex-col gap-4 font-mono">
							{{range $param := $endpoint.Parameters.Query}}
							<div class="flex flex-col gap-2">
								<div class="flex items-center gap-2 text-sm font-mono flex-wrap">
									<p class="py-1 px-2 bg-slate-700 rounded-md">{{$param.Name}}</p>
									<p class="text-slate-50">{{$param.Type}}</p>
									{{if $param.Req}}
									<p class="text-rose-600">required</p>
									{{end}}
									{{if $param.DefaultValue}}
									<p class="text-slate-400">default: {{$param.DefaultValue}}</p>
									{{end}}
								</div>
								{{if $param.Desc}}
								<p class="text-sm text-slate-400 font-sans">{{$param.Desc}}</p>
								{{end}}
								{{if $param.Ex}}
								<div class="text-xs">
									<span class="text-slate-500">Example: </span>
									<code class="text-cyan-400">{{ $param.Ex }}</code>
								</div>
								{{end}}
								{{if $param.Enums}}
								<div class="text-xs">
									<span class="text-slate-500">Allowed values: </span>
									<span class="text-cyan-400">
										{{range $i, $val := $param.Enums}}{{if $i}},
										{{end}}<code>{{$val}}</code>{{end}}
									</span>
								</div>
								{{end}}
								{{if or $param.Minimum $param.Maximum $param.MinLength $param.MaxLen}}
								<div class="text-xs text-slate-500">
									{{if $param.Minimum}}Min: {{$param.Minimum}} {{end}}
									{{if $param.Maximum}}Max: {{$param.Maximum}} {{end}}
									{{if $param.MinLen}}Min Length: {{$param.MinLen}} {{end}}
									{{if $param.MaxLen}}Max Length: {{$param.MaxLen}} {{end}}
								</div>
								{{end}}
							</div>
							<hr class="border-none h-px bg-slate-700 opacity-50 last:hidden">
							{{end}}
						</div>
					</details>
					{{end}}

					<!-- header parameters -->
					{{if $endpoint.Parameters.Header}}
					<details class="flex flex-col open:space-y-4 rounded-md p-4 bg-slate-800/50">
						<summary class="flex items-center justify-between">
							<h4 class="text-base text-slate-50 font-medium">Headers</h4>
						</summary>
						<div class="flex flex-col gap-4">
							{{range $header := $endpoint.Parameters.Header}}
							<div class="flex flex-col gap-2">
								<div class="flex items-center gap-2 text-sm font-mono">
									<p class="py-1 px-2 bg-slate-700 rounded-md">{{$header.Name}}</p>
									<p class="text-slate-50">{{$header.Type}}</p>
									{{if $header.Req}}
									<p class="text-rose-600">required</p>
									{{end}}
								</div>
								{{if $header.Desc}}
								<p class="text-sm text-slate-400">{{$header.Desc}}</p>
								{{end}}
								{{if $header.Ex}}
								<div class="text-xs font-mono">
									<span class="text-slate-500">Example: </span>
									<code class="text-cyan-400">{{ $header.Ex }}</code>
								</div>
								{{end}}
							</div>
							<hr class="border-none h-px bg-slate-700 opacity-50 last:hidden">
							{{end}}
						</div>
					</details>
					{{end}}

					<!-- cookie parameters -->
					{{if $endpoint.Parameters.Cookie}}
					<details class="flex flex-col open:space-y-4 rounded-md p-4 bg-slate-800/50">
						<summary class="flex items-center justify-between">
							<h4 class="text-base text-slate-50 font-medium">Cookies</h4>
						</summary>
						<div class="flex flex-col gap-4">
							{{range $cookie := $endpoint.Parameters.Cookie}}
							<div class="flex flex-col gap-2">
								<div class="flex items-center gap-2 text-sm font-mono">
									<p class="py-1 px-2 bg-slate-700 rounded-md">{{$cookie.Name}}</p>
									<p class="text-slate-50">{{$cookie.Type}}</p>
									{{if $cookie.Req}}
									<p class="text-rose-600">required</p>
									{{end}}
								</div>
								{{if $cookie.Desc}}
								<p class="text-sm text-slate-400">{{$cookie.Desc}}</p>
								{{end}}
								{{if $cookie.Ex}}
								<div class="text-xs font-mono">
									<span class="text-slate-500">Example: </span>
									<code class="text-cyan-400">{{ $cookie.Ex }}</code>
								</div>
								{{end}}
							</div>
							<hr class="border-none h-px bg-slate-700 opacity-50 last:hidden">
							{{end}}
						</div>
					</details>
					{{end}}

					<!-- request -->
					{{if $endpoint.Request}}
					<details class="flex flex-col open:space-y-4 rounded-md p-4 bg-slate-800/50">
						<summary class="flex items-center justify-between">
							<h4 class="text-base text-slate-50 font-medium">Request</h4>
						</summary>
						<div class="flex flex-col gap-4">
							{{if $endpoint.Request.ContentType}}
							<div class="flex items-center gap-2">
								<span class="text-sm font-medium text-slate-400">Content-Type:</span>
								<span class="bg-slate-700 text-slate-300 rounded-md py-0.5 px-1.5 text-xs">{{$endpoint.Request.ContentType}}</span>
							</div>
							{{end}}

							<div class="flex flex-col lg:w-1/2">
								{{template "renderField" $endpoint.Request.Fields}}
							</div>

							{{if $endpoint.Request.JSON}}
							<div class="flex flex-col gap-3 w-full">
								<h5 class="text-sm font-medium text-slate-300">Example</h5>
								<div x-data="{prettyJson: {{$endpoint.Request.JSON}}}">
									<pre x-text="JSON.stringify(prettyJson, null, 2)"
										class="p-4 rounded-md bg-slate-900 h-fit text-slate-400 text-sm overflow-x-auto">
									</pre>
								</div>
							</div>
							{{end}}
						</div>
					</details>
					{{end}}

					<!-- responses -->
					{{if $endpoint.Responses}}
					<details class="flex flex-col open:space-y-4 rounded-md p-4 bg-slate-800/50">
						<summary class="flex items-center justify-between">
							<h4 class="text-base text-slate-50 font-medium">Responses</h4>
						</summary>
						<div class="flex flex-col gap-4">
							{{range $response := $endpoint.Responses}}
							<div class="flex flex-col gap-3">
								<div class="flex items-center gap-3">
									<span class="response-status"
										data-status="{{$response.StatusCode}}">{{$response.StatusCode}}</span>
									<span class="text-slate-400 text-sm font-medium">{{$response.Desc}}</span>
									{{if $response.ContentType}}
									<span
										class="text-xs font-medium text-slate-400 bg-slate-700 px-2 py-1 rounded">{{$response.ContentType}}</span>
									{{end}}
								</div>

								{{if $response.Headers}}
								<div class="flex flex-col gap-3">
									<h5 class="text-sm font-medium text-slate-300">Response Headers</h5>
									{{range $name, $header := $response.Headers}}
									<div class="flex items-center gap-2 text-sm">
										<code class="text-cyan-400">{{$name}}</code>
										<span class="text-slate-400">{{$header.Type}}</span>
										{{if $header.Desc}}
										<span class="text-slate-500">- {{$header.Desc}}</span>
										{{end}}
									</div>
									{{end}}
								</div>
								{{end}}

								{{if $response.Fields}}
								<div class="flex flex-col gap-3">
									<h5 class="text-sm font-medium text-slate-300">Response Schema</h5>
									<div>
										{{template "renderField" $response.Fields}}
									</div>
								</div>
								{{end}}

								{{if $response.JSON}}
								<div class="flex flex-col gap-3 w-full">
									<h5 class="text-sm font-medium text-slate-300">Example</h5>
									<div x-data="{prettyJson: {{ $response.JSON }}}">
										<pre x-text="JSON.stringify(prettyJson, null, 2)"
											class="p-4 rounded-md bg-slate-900 h-fit text-slate-400 text-sm overflow-x-auto">
										</pre>
									</div>
								</div>
								{{end}}
							</div>
							<hr class="border-none h-px bg-slate-600 last:hidden">
							{{end}}
						</div>
					</details>
					{{end}}
				</div>
			</details>
			{{end}}
		</article>
		{{end}}
	</section>
</main>
{{end}}

{{define "renderField"}}
{{range $field := .}}
<div class="flex flex-col gap-2 font-mono">
	<div class="flex items-center gap-2 text-sm font-mono flex-wrap">
		<p class="py-1 px-2 bg-slate-700 rounded-md">{{.Name}}</p>
		{{if .Type}}
		<p class="text-slate-50">{{.Type}}</p>
		{{end}}
		{{if .DefaultValue}}
		<p class="text-slate-400">default: {{.DefaultValue}}</p>
		{{end}}
	</div>

	{{if .Desc}}
	<p class="text-sm text-slate-400 font-sans">{{.Desc}}</p>
	{{end}}

	{{if .Ex}}
	<div class="text-xs">
		<span class="text-slate-500">Example: </span>
		<code class="text-cyan-400">{{.Ex}}</code>
	</div>
	{{end}}

	{{if .Enums}}
	<div class="text-xs">
		<span class="text-slate-500">Allowed values: </span>
		<span class="text-cyan-400">
			{{range $i, $val := .Enums}}{{if $i}}, {{end}}<code>{{$val}}</code>{{end}}
		</span>
	</div>
	{{end}}

	{{if or .Minimum .Maximum .MinLen .MaxLen}}
	<div class="text-xs text-slate-500">
		{{if .Minimum}}Min: {{.Minimum}} {{end}}
		{{if .Maximum}}Max: {{.Maximum}} {{end}}
		{{if .MinLen}}Min Length: {{.MinLen}} {{end}}
		{{if .MaxLen}}Max Length: {{.MaxLen}} {{end}}
	</div>
	{{end}}

	{{if .Fields}}
	<div class="ml-4 border-l border-slate-600 pl-3 mt-2">
		{{template "renderField" $field.Fields}}
	</div>
	{{end}}
</div>
<hr class="border-none h-px my-4 bg-slate-600/25 last:hidden">
{{end}}
{{end}}


